-- CreateEnum
CREATE TYPE "DriverRole" AS ENUM ('RACE_SEAT', 'RESERVE');

-- CreateEnum
CREATE TYPE "DriverStatus" AS ENUM ('ACTIVE', 'AVAILABLE', 'LEFT', 'INACTIVE');

-- CreateEnum
CREATE TYPE "Provenance" AS ENUM ('CANONICAL', 'IMPORTED', 'HYBRID', 'SIMULATED');

-- CreateEnum
CREATE TYPE "BindingConfidence" AS ENUM ('SUGGESTED', 'CONFIRMED');

-- CreateEnum
CREATE TYPE "DriverEntryEventKind" AS ENUM ('CREATED', 'SEATED', 'DISPLACED', 'HIRED', 'RELEASED', 'PROMOTED', 'STATUS_CHANGED');

-- AlterTable
ALTER TABLE "Season" ADD COLUMN     "provenance" "Provenance" NOT NULL DEFAULT 'CANONICAL';

-- AlterTable
ALTER TABLE "Race" ADD COLUMN     "provenance" "Provenance" NOT NULL DEFAULT 'CANONICAL';

-- AlterTable
ALTER TABLE "RaceResult" ADD COLUMN     "provenance" "Provenance" NOT NULL DEFAULT 'CANONICAL',
ADD COLUMN     "sourceHash" TEXT;

-- AlterTable
ALTER TABLE "ChampionshipStanding" ADD COLUMN     "provenance" "Provenance" NOT NULL DEFAULT 'CANONICAL',
ADD COLUMN     "sourceHash" TEXT;

-- CreateTable
CREATE TABLE "SeasonDriverEntry" (
    "id" UUID NOT NULL,
    "driverProfileId" UUID NOT NULL,
    "seasonId" UUID NOT NULL,
    "teamId" UUID,
    "role" "DriverRole",
    "seat" INTEGER,
    "number" INTEGER,
    "status" "DriverStatus" NOT NULL DEFAULT 'ACTIVE',
    "provenance" "Provenance" NOT NULL DEFAULT 'CANONICAL',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SeasonDriverEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DriverEntryEvent" (
    "id" UUID NOT NULL,
    "entryId" UUID NOT NULL,
    "kind" "DriverEntryEventKind" NOT NULL,
    "from" JSONB,
    "to" JSONB,
    "reason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DriverEntryEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalDriver" (
    "id" UUID NOT NULL,
    "source" TEXT NOT NULL,
    "externalId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "fullName" TEXT,
    "nationality" TEXT,
    "number" INTEGER,
    "contentHash" TEXT NOT NULL,
    "firstSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sourceRecord" JSONB,

    CONSTRAINT "ExternalDriver_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalTeam" (
    "id" UUID NOT NULL,
    "source" TEXT NOT NULL,
    "externalId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "shortName" TEXT,
    "color" TEXT,
    "contentHash" TEXT NOT NULL,
    "firstSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sourceRecord" JSONB,

    CONSTRAINT "ExternalTeam_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalDriverSeason" (
    "id" UUID NOT NULL,
    "source" TEXT NOT NULL,
    "externalDriverId" UUID NOT NULL,
    "seasonYear" INTEGER NOT NULL,
    "teamExternalId" TEXT,
    "teamNameSnapshot" TEXT,
    "number" INTEGER,
    "role" TEXT,
    "contentHash" TEXT NOT NULL,
    "firstSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sourceRecord" JSONB,

    CONSTRAINT "ExternalDriverSeason_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalSeason" (
    "id" UUID NOT NULL,
    "source" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "name" TEXT,
    "status" TEXT,
    "firstSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ExternalSeason_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalRace" (
    "id" UUID NOT NULL,
    "source" TEXT NOT NULL,
    "seasonYear" INTEGER NOT NULL,
    "round" INTEGER NOT NULL,
    "grandPrix" TEXT,
    "name" TEXT,
    "circuitName" TEXT,
    "date" TIMESTAMP(3),
    "status" TEXT,
    "firstSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ExternalRace_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalResult" (
    "id" UUID NOT NULL,
    "source" TEXT NOT NULL,
    "externalRaceId" UUID NOT NULL,
    "externalDriverId" UUID NOT NULL,
    "position" INTEGER,
    "points" DOUBLE PRECISION,
    "grid" INTEGER,
    "fastestLap" BOOLEAN,
    "status" TEXT,
    "contentHash" TEXT NOT NULL,
    "firstSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ExternalResult_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalStanding" (
    "id" UUID NOT NULL,
    "source" TEXT NOT NULL,
    "seasonYear" INTEGER NOT NULL,
    "externalDriverId" UUID NOT NULL,
    "position" INTEGER,
    "points" DOUBLE PRECISION,
    "wins" INTEGER,
    "podiums" INTEGER,
    "contentHash" TEXT NOT NULL,
    "firstSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ExternalStanding_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalBindingDriver" (
    "id" UUID NOT NULL,
    "externalDriverId" UUID NOT NULL,
    "characterId" UUID NOT NULL,
    "confidence" "BindingConfidence" NOT NULL DEFAULT 'SUGGESTED',
    "boundAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "boundBy" "Role",
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExternalBindingDriver_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalBindingTeam" (
    "id" UUID NOT NULL,
    "externalTeamId" UUID NOT NULL,
    "teamId" UUID NOT NULL,
    "confidence" "BindingConfidence" NOT NULL DEFAULT 'SUGGESTED',
    "boundAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "boundBy" "Role",
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExternalBindingTeam_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalBindingSeason" (
    "id" UUID NOT NULL,
    "externalSeasonId" UUID NOT NULL,
    "seasonId" UUID NOT NULL,
    "confidence" "BindingConfidence" NOT NULL DEFAULT 'SUGGESTED',
    "boundAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "boundBy" "Role",
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExternalBindingSeason_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalBindingRace" (
    "id" UUID NOT NULL,
    "externalRaceId" UUID NOT NULL,
    "raceId" UUID NOT NULL,
    "confidence" "BindingConfidence" NOT NULL DEFAULT 'SUGGESTED',
    "boundAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "boundBy" "Role",
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExternalBindingRace_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalBindingDriverSeason" (
    "id" UUID NOT NULL,
    "externalDriverSeasonId" UUID NOT NULL,
    "seasonDriverEntryId" UUID NOT NULL,
    "confidence" "BindingConfidence" NOT NULL DEFAULT 'SUGGESTED',
    "boundAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "boundBy" "Role",
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExternalBindingDriverSeason_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalBindingResult" (
    "id" UUID NOT NULL,
    "externalResultId" UUID NOT NULL,
    "raceResultId" UUID NOT NULL,
    "confidence" "BindingConfidence" NOT NULL DEFAULT 'SUGGESTED',
    "boundAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "boundBy" "Role",
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExternalBindingResult_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExternalBindingStanding" (
    "id" UUID NOT NULL,
    "externalStandingId" UUID NOT NULL,
    "championshipStandingId" UUID NOT NULL,
    "confidence" "BindingConfidence" NOT NULL DEFAULT 'SUGGESTED',
    "boundAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "boundBy" "Role",
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExternalBindingStanding_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "SeasonDriverEntry_seasonId_idx" ON "SeasonDriverEntry"("seasonId");

-- CreateIndex
CREATE INDEX "SeasonDriverEntry_driverProfileId_idx" ON "SeasonDriverEntry"("driverProfileId");

-- CreateIndex
CREATE INDEX "SeasonDriverEntry_teamId_status_idx" ON "SeasonDriverEntry"("teamId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "SeasonDriverEntry_seasonId_driverProfileId_key" ON "SeasonDriverEntry"("seasonId", "driverProfileId");

-- CreateIndex
CREATE UNIQUE INDEX "SeasonDriverEntry_seasonId_teamId_seat_key" ON "SeasonDriverEntry"("seasonId", "teamId", "seat");

-- CreateIndex
CREATE INDEX "DriverEntryEvent_entryId_createdAt_idx" ON "DriverEntryEvent"("entryId", "createdAt");

-- CreateIndex
CREATE INDEX "ExternalDriver_source_name_idx" ON "ExternalDriver"("source", "name");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalDriver_source_externalId_key" ON "ExternalDriver"("source", "externalId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalTeam_source_externalId_key" ON "ExternalTeam"("source", "externalId");

-- CreateIndex
CREATE INDEX "ExternalDriverSeason_seasonYear_idx" ON "ExternalDriverSeason"("seasonYear");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalDriverSeason_source_externalDriverId_seasonYear_key" ON "ExternalDriverSeason"("source", "externalDriverId", "seasonYear");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalSeason_source_year_key" ON "ExternalSeason"("source", "year");

-- CreateIndex
CREATE INDEX "ExternalRace_source_seasonYear_idx" ON "ExternalRace"("source", "seasonYear");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalRace_source_seasonYear_round_key" ON "ExternalRace"("source", "seasonYear", "round");

-- CreateIndex
CREATE INDEX "ExternalResult_externalRaceId_idx" ON "ExternalResult"("externalRaceId");

-- CreateIndex
CREATE INDEX "ExternalResult_externalDriverId_idx" ON "ExternalResult"("externalDriverId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalResult_source_externalRaceId_externalDriverId_key" ON "ExternalResult"("source", "externalRaceId", "externalDriverId");

-- CreateIndex
CREATE INDEX "ExternalStanding_externalDriverId_idx" ON "ExternalStanding"("externalDriverId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalStanding_source_seasonYear_externalDriverId_key" ON "ExternalStanding"("source", "seasonYear", "externalDriverId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingDriver_externalDriverId_key" ON "ExternalBindingDriver"("externalDriverId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingDriver_characterId_key" ON "ExternalBindingDriver"("characterId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingTeam_externalTeamId_key" ON "ExternalBindingTeam"("externalTeamId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingTeam_teamId_key" ON "ExternalBindingTeam"("teamId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingSeason_externalSeasonId_key" ON "ExternalBindingSeason"("externalSeasonId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingSeason_seasonId_key" ON "ExternalBindingSeason"("seasonId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingRace_externalRaceId_key" ON "ExternalBindingRace"("externalRaceId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingRace_raceId_key" ON "ExternalBindingRace"("raceId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingDriverSeason_externalDriverSeasonId_key" ON "ExternalBindingDriverSeason"("externalDriverSeasonId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingDriverSeason_seasonDriverEntryId_key" ON "ExternalBindingDriverSeason"("seasonDriverEntryId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingResult_externalResultId_key" ON "ExternalBindingResult"("externalResultId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingResult_raceResultId_key" ON "ExternalBindingResult"("raceResultId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingStanding_externalStandingId_key" ON "ExternalBindingStanding"("externalStandingId");

-- CreateIndex
CREATE UNIQUE INDEX "ExternalBindingStanding_championshipStandingId_key" ON "ExternalBindingStanding"("championshipStandingId");

-- AddForeignKey
ALTER TABLE "SeasonDriverEntry" ADD CONSTRAINT "SeasonDriverEntry_driverProfileId_fkey" FOREIGN KEY ("driverProfileId") REFERENCES "DriverProfile"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SeasonDriverEntry" ADD CONSTRAINT "SeasonDriverEntry_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES "Season"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SeasonDriverEntry" ADD CONSTRAINT "SeasonDriverEntry_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "Team"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DriverEntryEvent" ADD CONSTRAINT "DriverEntryEvent_entryId_fkey" FOREIGN KEY ("entryId") REFERENCES "SeasonDriverEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalDriverSeason" ADD CONSTRAINT "ExternalDriverSeason_externalDriverId_fkey" FOREIGN KEY ("externalDriverId") REFERENCES "ExternalDriver"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalResult" ADD CONSTRAINT "ExternalResult_externalRaceId_fkey" FOREIGN KEY ("externalRaceId") REFERENCES "ExternalRace"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalResult" ADD CONSTRAINT "ExternalResult_externalDriverId_fkey" FOREIGN KEY ("externalDriverId") REFERENCES "ExternalDriver"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalStanding" ADD CONSTRAINT "ExternalStanding_externalDriverId_fkey" FOREIGN KEY ("externalDriverId") REFERENCES "ExternalDriver"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingDriver" ADD CONSTRAINT "ExternalBindingDriver_externalDriverId_fkey" FOREIGN KEY ("externalDriverId") REFERENCES "ExternalDriver"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingDriver" ADD CONSTRAINT "ExternalBindingDriver_characterId_fkey" FOREIGN KEY ("characterId") REFERENCES "Character"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingTeam" ADD CONSTRAINT "ExternalBindingTeam_externalTeamId_fkey" FOREIGN KEY ("externalTeamId") REFERENCES "ExternalTeam"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingTeam" ADD CONSTRAINT "ExternalBindingTeam_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "Team"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingSeason" ADD CONSTRAINT "ExternalBindingSeason_externalSeasonId_fkey" FOREIGN KEY ("externalSeasonId") REFERENCES "ExternalSeason"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingSeason" ADD CONSTRAINT "ExternalBindingSeason_seasonId_fkey" FOREIGN KEY ("seasonId") REFERENCES "Season"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingRace" ADD CONSTRAINT "ExternalBindingRace_externalRaceId_fkey" FOREIGN KEY ("externalRaceId") REFERENCES "ExternalRace"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingRace" ADD CONSTRAINT "ExternalBindingRace_raceId_fkey" FOREIGN KEY ("raceId") REFERENCES "Race"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingDriverSeason" ADD CONSTRAINT "ExternalBindingDriverSeason_externalDriverSeasonId_fkey" FOREIGN KEY ("externalDriverSeasonId") REFERENCES "ExternalDriverSeason"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingDriverSeason" ADD CONSTRAINT "ExternalBindingDriverSeason_seasonDriverEntryId_fkey" FOREIGN KEY ("seasonDriverEntryId") REFERENCES "SeasonDriverEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingResult" ADD CONSTRAINT "ExternalBindingResult_externalResultId_fkey" FOREIGN KEY ("externalResultId") REFERENCES "ExternalResult"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingResult" ADD CONSTRAINT "ExternalBindingResult_raceResultId_fkey" FOREIGN KEY ("raceResultId") REFERENCES "RaceResult"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingStanding" ADD CONSTRAINT "ExternalBindingStanding_externalStandingId_fkey" FOREIGN KEY ("externalStandingId") REFERENCES "ExternalStanding"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExternalBindingStanding" ADD CONSTRAINT "ExternalBindingStanding_championshipStandingId_fkey" FOREIGN KEY ("championshipStandingId") REFERENCES "ChampionshipStanding"("id") ON DELETE CASCADE ON UPDATE CASCADE;

